html{
    padding: .5rem;
    margin: 2rem;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

h1{
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
}

h2{
    font-family: cursive;
    text-align: center;
}

.Paragraph{
    font-size: 1.5rem;
    text-align: center;
}

.Link{
    border: 0;
    line-height: 2;
    padding: 1rem 3rem;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 3rem;
    background-color: lightcoral;
}